<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: New Property</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<h1>Properties</h1>

<ul>
  <% @properties.each do |property| %>
    <li class="property" id="property"> 
      <%= property.name %>, <%= property.description %>, <%= property.price %>
    </li>
  <% end %>
</ul>

<form method="get" action="/property/new">
  <input type="submit" value="Add a Property" />
</form>

<form method="get" action="/myaccount">
  <input type="submit" value="My Account" />
</form>

</body>

</html>
