<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: Properties</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<h1>Add a new property</h1>

<form method="post" action="/property">
  <input type="text" name="name" placeholder="Name" />
  <br><br>
  <input type="text" name="description" placeholder="Description" />
  <br><br>
  <input type="text" name="price" placeholder="Price" />
  <br><br>
  <input type="submit" value="Submit" />
</form>

<br><br><br>

<form method="get" action="/property">
  <input type="submit" value="View Properties" />
</form>

<form method="get" action="/myaccount">
  <input type="submit" value="My Account" />
</form>

</body>

</html>
