<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: New Property</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <h1>Add a new property</h1>

  <% if @user %>
    <div  class="sign_up_form">
      <form method="post" action="/property">
        <h4>Enter property details below </h4>
        <input type="text" name="name" placeholder="Name" />
        <br><br>
        <input type="text" name="description" placeholder="Description" />
        <br><br>
        <input type="text" name="price" placeholder="Price" />
        <br><br>
        <input type="submit" value="Submit" class="submit_form_button" />
      </form>
    </div>
  <% else %>
    <h2>You must be logged in to do that.</h2>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Sign in" class="general_button" />
    </form>
  <% end %>


  <br><br><br>

  <form method="get" action="/property">
    <input type="submit" value="View Properties" class="general_button" />
  </form>

  <form method="get" action="/myaccount">
    <input type="submit" value="My Account" class="general_button" />
  </form>

</body>

</html>
