<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: About</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
  <div id="navbar">
   <nav class="navbar navbar-expand-md navbar-light sticky-top" >
      <a class="navbar-brand" href="/"><img id="logo" src="/css/images/paw.png" alt="dogbnb" style="width:7vh; height:7vh;"></a>         
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/sessions/new">Sign in</a>
   </nav>
  </div>
  <h1> We are team Maru</h1>
  <p>
      Cynthia
      <br>
      Masako
      <br>
      Zsuzsanna
      <br>
      Joomin
      <br>
      Sean
      <br>
      Tarun
  </p>
  <h2>GitHub Repository</h2>

  <a class "github-link" href="https://github.com/YinnyF/dogbnb">DogBnb Project</a>

  </body>

  </html>