<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<h1> Welcome to DogBnB! </h1>

<form action="/users/new" method="get">
  <input type="submit" value="Sign Up" class="sign_up_button"/>
</form>

<form action="/sessions/new" method="get">
  <input type="submit" value="Sign In" class="sign_in_button"/>
</form>

</body>

</html>