<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <h1> Welcome to DogBnB! </h1>
    <br><br>
    <div  class="sign_up_form">
      <form action="/myaccount" method="post">
        <h4>Create your account today</h4>
        <input type="name" name="name" placeholder="Your full name" />
        <br><br>
        <input type="email" name="email" placeholder="Email"/>
        <br><br>
        <input type="password" name="password" placeholder="Password"/>
        <br><br>
        <input type="password" name="confirm password" placeholder="Confirm password" />
        <br><br>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <br><br>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Sign In" class="sign_in_button"/>
    </form>

  </body>

</html>