h1 {
  color: brown;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: Arial;

}

body {
  background: url("/images/dogbnb.jpeg");
}

p{
  margin-left: 170px;
}
.general_button {
  transition-duration: 0.4s;
  font-size: 16px;
  background-color: white;
  color: brown;
  padding: 5px;
  border-radius: 5em;
  text-align: center;
  align-items: center;
  
}

.general_button:hover {
  background-color: brown; /* Brown */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* creates shadow */
}
.sign_up_form{
  display: flex;
  text-align: center;
  background: #fff;
  font-family: Arial;
  width: 20%;
  padding: 10px;
  margin-left: 170px;
  border-radius: 1em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit_form_button{
  transition-duration: 0.4s;
  font-size: 16px;
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 5em;
  text-align: center;
  align-items: center;
}
.submit_form_button:hover{
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* creates shadow */
}

h4 {
  font-size: 20px;
}

@media (min-width: 568px) {
  .account-details >div, .personal-details >div {
  width: 50%;
  }
}

.navbar {
	background-color: white;
	max-width: 1200px;
	margin-left: 170px;
}

#navbar a {
	color: black;
	text-decoration: none;
	font-size: 22px;
  font-family: Arial;
	padding: 5px 14px;
}

#navbar a.nav-link:hover {
	color: brown;
	font-size: 24px;
}

#logo:hover{
	transform:rotate(360deg);
	transition: 0.8s;
}
.nav-link {
	min-height: 7vh;
	line-height: 7vh;
}

