<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: Sign In</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h2>
  <%= flash[:notice] %>
</h2>

<h2>Sign in below</h2>
<br>
<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email" />
  <br><br>
  <input type="password" name="password" placeholder="password"/>
  <br><br>
  <input type="submit" value="Sign in" />
</form>

<br><br><br>

<form action="/" method="get">
  <input type="submit" value="Back to homepage">
</form>

</body>

</html>