<h2>
  <%= flash[:notice] %>
</h2>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email" />
  <br><br>
  <input type="password" name="password" placeholder="password"/>
  <br><br>
  <input type="submit" value="Sign in" />
</form>