<h2>
  <%= flash[:notice] %>
</h2>

<h2>Sign in below</h2>
<br>
<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email" />
  <br><br>
  <input type="password" name="password" placeholder="password"/>
  <br><br>
  <input type="submit" value="Sign in" />
</form>

<br><br><br>

<form action="/" method="get">
  <input type="submit" value="Back to homepage">
</form> 