<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: My Account</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div id="navbar">
<nav class="navbar navbar-expand-md navbar-light sticky-top" >
    <a class="navbar-brand" href="/"><img id="logo" src="/css/images/paw.png" alt="dogbnb" style="width:7vh; height:7vh;"></a>         
    <a class="nav-link" href="/about">About</a>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="nav_button" />
    </form>
</nav>
</div>

  <h1>Manage my Account</h1>
  <h2>Welcome, <%= @user.name %></h2>
  
  <form action="/property/new" method="get">
    <input type="submit" value="Add a Property" class="general_button" />
  </form>

  <form action="/property" method="get">
    <input type="submit" value="View Properties" class="general_button" />
  </form>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" class="general_button" />
  </form>

</body>

</html>