<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogBnB: My Account</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<% if @user %>
  <h1> Welcome, <%= @user.name%></h1>
<% end %>

<form action="/property/new" method="get">
  <input type="submit" value="Add a Property" class="general_button" />
</form>

<form action="/property" method="get">
  <input type="submit" value="View Properties" class="general_button" />
</form>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" class="general_button" />
</form>

</body>

</html>